@charset "utf-8";
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 15px 10px;
	margin-bottom: 20px;
	height: 20px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px
}

/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */